/*
 * ▄▄▄        ·▄▄▄▪  
 * ▀▄ █·▪     ▐▄▄·██ 
 * ▐▀▀▄  ▄█▀▄ ██▪ ▐█·
 * ▐█•█▌▐█▌.▐▌██▌.▐█▌
 * .▀  ▀ ▀█▄▀▪▀▀▀ ▀▀▀
 * Created by: Dang Minh "Jaime" Ngo
 * Github: @dangminhngo
 * Email: dangminhngo.dev@gmail.com
 */

configuration {
  show-icons:         true;
  icon-theme:         "Papirus-Dark";
}
